<div style="padding: 30px;">
    <button type="button" class="btn btn-info" style="float: right; color: white; background-color: #aca298; border: none;" (click)="onGoBackToList()">
        <i class="bi bi-arrow-left-circle-fill" style="color: blue"></i>
        Volver
    </button>
</div>

<br>

<div class="m-5">

    <form class="row g-3" (ngSubmit)="onSave()" [formGroup]="servidorrForm" >
        <div class="col-md-3">
            <label>Modelo</label>
            <input type="text" class="form-control" placeholder="Modelo" formControlName="modeloserv"
            [class]="isValidField('modeloserv')">
            <div class="invalid-feedback">
                <span *ngIf="servidorrForm.get('modeloserv')" class="text-danger">Campo requerido*</span>
            </div>
        </div>

        <div class="col-md-3">
            <label>Marca</label>
            <input type="text" class="form-control" placeholder="Marca" formControlName="marcaserv"
            [class]="isValidField('marcaserv')">
            <div class="invalid-feedback">
                <span *ngIf="servidorrForm.get('marcaserv')" class="text-danger">Campo requerido*</span>
            </div>
        </div>

        <div class="col-md-3">
            <label>Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre" formControlName="nombreserv"
            [class]="isValidField('nombreserv')">
            <div class="invalid-feedback">
                <span *ngIf="servidorrForm.get('nombreserv')" class="text-danger">Campo requerido*</span>
            </div>
        </div>

        <div class="col-md-3">
            <label>N° Serie</label>
            <input type="text" class="form-control" placeholder="N° Serie" formControlName="serieserv"
            [class]="isValidField('serieserv')">
            <div class="invalid-feedback">
                <span *ngIf="servidorrForm.get('serieserv')" class="text-danger">Campo requerido*</span>
            </div>
        </div>

        <div class="col-md-3">
            <label>Ip</label>
            <input type="text" class="form-control" placeholder="Ip" formControlName="ipserv"
            [class]="isValidField('ipserv')">
            <div class="invalid-feedback">
                <span *ngIf="servidorrForm.get('ipserv')" class="text-danger">Campo requerido*</span>
            </div>
        </div>

        <div class="col-md-3">
            <label>Mac Address</label>
            <input type="text" class="form-control" placeholder="Mac Address" formControlName="macserv"
            [class]="isValidField('macserv')">
            <div class="invalid-feedback">
                <span *ngIf="servidorrForm.get('macserv')" class="text-danger">Campo requerido*</span>
            </div>
        </div>

        <div class="col-md-3">
            <label>Características</label>
            <input type="text" class="form-control" placeholder="Características" formControlName="caracteristicasserv"
            [class]="isValidField('caracteristicasserv')">
            <div class="invalid-feedback">
                <span *ngIf="servidorrForm.get('caracteristicasserv')" class="text-danger">Campo requerido*</span>
            </div>
        </div>

        <br>
    
        <div class="d-grid gap-2 m-2">
            <button class="btn btn-info" type="submit" style="color: #505050; border-radius: 5px; background-color: #c9b18b; border: none;">Guardar cambios</button>
          </div>

    </form>


</div>



