
    
    <div style="padding: 30px;">

        <h5 style="color: #505050;">Computadoras</h5>

        <button [routerLink]="'/inicio'" type="button" class="btn btn-info m-1" style="float: right; color: white; background-color: #aca298; border: none;">
            <i class="bi bi-arrow-left-circle-fill" style="color: blue"></i>
            Volver
        </button>

        <button [routerLink]="'/nuevo1'" type="button" class="btn btn-info m-1" style="float: right; color: white; background-color: #aca298; border: none;">
            <i class="bi bi-plus-lg" style="color: green;"></i>
            Nuevo
        </button>

        <button type="button" value="Imprimir" onclick="javascript:window.print()" class="btn btn-info m-1" style="float: right; color: white; background-color: #aca298; border: none;">
            <i class="bi bi-printer-fill" style="color: gray"></i>
            Imprimir
        </button>

    </div>
    

<div class="m-5"> 

    <table class="table table-responsive">
        <!-- <table class="table-hover"></table> -->
        <thead style="background-color: #c9b18b; color: #505050;">
            <tr>
                <th>Modelo</th>
                <th>Marca</th>
                <th>Nombre Pc</th>
                <th>N° Serie</th>
                <th>Ip</th>
                <th>Mac Address</th>
                <th>Accesorios</th>
                <th>Ubicacion</th>
                <th class="d-none d-sm-block">Acciones</th>
                <!-- <th>Editar</th>
                <th>Borrar</th> -->
            </tr>
        </thead>
        <tbody >
            <tr style="background-color: #e6dec8" *ngFor="let item1 of articulos$ | async" >
                <td>{{ item1.modelo }}</td>
                <td>{{ item1.marca }}</td>
                <td>{{ item1.nombre }}</td>
                <td>{{ item1.serie }}</td>
                <td>{{ item1.ip }}</td>
                <td>{{ item1.mac }}</td>
                <td>{{ item1.accesorios }}</td>
                <td>{{ item1.ubicacion }}</td>

                <!-- <td class="bnt-group d-none d-sm-block"><button type="button" class="btn btn-info"><i class="bi bi-eye" style="color: green;"></i></button></td>

                <td class="bnt-group d-none d-sm-block"><button type="button" class="btn btn-info"><i class="bi bi-pencil-square" style="color: blue;"></i></button></td>

                <td><button type="button" class="btn btn-info"><i class="bi bi-trash3-fill" style="color: red;"></i></button></td> -->

                <td class="bnt-group d-none d-sm-block">
                
                <!-- ver -->
                <button type="button" class="btn btn-info m-1" (click)="onGoToSee(item1)" style="background-color: #c9b18b; border: none;"><i class="bi bi-eye" style="color: green;"></i></button>

                <!-- editar -->
                <button type="button" class="btn btn-info m-1" (click)="onGoToEdit(item1)" style="background-color: #c9b18b; border: none;"><i class="bi bi-pencil-square" style="color: blue;"></i></button>

                <!-- borrar -->
                <button type="button" class="btn btn-info m-1" (click)="onGoToDelete(item1.id!)" style="background-color: #c9b18b; border: none;"><i class="bi bi-trash3-fill" style="color: red;"></i></button>

                </td>
            </tr>
        </tbody>
    </table>


</div>



    