<div class="m-5"> 

<div class="wrap container-fluid" style="padding-left: 40px; padding-right: 40px;">
    <div class="row">
    
        

        <!-- INICIO DE TARJETA -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="tarjeta-wrap">
                <div class="tarjeta">

                    <img src="../../assets/Antenas.png" class="card-img-top" alt="...">

                    <div class="card-body">
                    <h5 class="card-title">Antenas</h5>
                    <div class="d-grid gap-2">
                        <button type="button" [routerLink]="'/listaant'">Ir</button>
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- FIN DE TARJETA -->

        <!-- INICIO DE TARJETA -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="tarjeta-wrap">
                <div class="tarjeta">

                    <img src="../../assets/Celulares Alice.png" class="card-img-top" alt="...">
                        
                    <div class="card-body">
                    <h5 class="card-title">Celulares Alice</h5>
                    <div class="d-grid gap-2">
                        <button type="button" [routerLink]="'/listacel'">Ir</button>
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- FIN DE TARJETA -->

        <!-- INICIO DE TARJETA -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="tarjeta-wrap">
                <div class="tarjeta">

                    <img src="../../assets/Computadoras.png" class="card-img-top" alt="...">
                        
                    <div class="card-body">
                    <h5 class="card-title">Computadoras</h5>
                    <div class="d-grid gap-2">
                        <button type="button" [routerLink]="'/lista1'">Ir</button>
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- FIN DE TARJETA -->

        <!-- INICIO DE TARJETA -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="tarjeta-wrap">
                <div class="tarjeta">

                    <img src="../../assets/Impresoras.png" class="card-img-top" alt="...">
                        
                    <div class="card-body">
                    <h5 class="card-title">Impresoras</h5>
                    <div class="d-grid gap-2">
                        <button type="button" [routerLink]="'/listaimp'">Ir</button>
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- FIN DE TARJETA -->

        <p></p>

        <!-- INICIO DE TARJETA -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="tarjeta-wrap">
                <div class="tarjeta">

                    <img src="../../assets/Resguardo Site.png" class="card-img-top" alt="...">
                        
                    <div class="card-body">
                    <h5 class="card-title">Resguardo Site</h5>
                    <div class="d-grid gap-2">
                        <button type="button" [routerLink]="'/lista1'">Ir</button>
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- FIN DE TARJETA -->

        <!-- INICIO DE TARJETA -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="tarjeta-wrap">
                <div class="tarjeta">

                    <img src="../../assets/Servidores.png" class="card-img-top" alt="...">
                        
                    <div class="card-body">
                    <h5 class="card-title">Servidores</h5>
                    <div class="d-grid gap-2">
                        <button type="button" [routerLink]="'/lista1'">Ir</button>
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- FIN DE TARJETA -->

        <!-- INICIO DE TARJETA -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="tarjeta-wrap">
                <div class="tarjeta">

                    <img src="../../assets/Switches.png" class="card-img-top" alt="...">
                        
                    <div class="card-body">
                    <h5 class="card-title">Switches</h5>
                    <div class="d-grid gap-2">
                            <button type="button" [routerLink]="'/lista1'">Ir</button>
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- FIN DE TARJETA -->


        

    </div>
</div>

</div>>